.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.profilePic {
    border: 1px solid black;
     
}

.col-lg-12{
    padding: 0px!important;
    width: 100%;
} 

.col-sm-12{
    padding: 0px!important;
    width: 100%;
}

.openImage {
    max-width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 30px 40px 5px rgba(0,0,0,.5);
}

.imageCaption {
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: xx-large;
    font-weight: bold;
    
}

.sectionHeader {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 50px; 
    flex: 1;
}

.pText{
    margin-top: 90px;
    color: white;
    flex: 3
}

.about{
    display: flex;
}


