.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.profilePic {
    border: 1px solid black;
     
}

.col-lg-12{
    padding: 0px!important;
    width: 100%;
} 

.col-sm-12{
    padding: 0px!important;
    width: 100%;
}

.openImage{
    max-width: 100%;
    height: auto;
    position: relative;
}

.imageCaption {
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: xx-large;
    font-weight: bold;
    
}


